TELEGRAM_BOT_API_TOKEN=
# comma-separated list of Telegram usernames. e.g.: username1,username2
TELEGRAM_ADMIN_USER_IDS=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_SCOPE="user-read-private user-read-currently-playing user-read-recently-played user-top-read playlist-read-private playlist-read-collaborative user-library-read"

# PostgreSQL settings. leave blank to use SQLite instead.
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

DB_NAME=notify

# the redirect URI required in your app's settings on the Spotify Dashboard must exactly match this format HOST_ADDRESS:HOST_PORT/callback.
# e.g.: http://127.0.0.1:8080/callback

HOST_ADDRESS=http://127.0.0.1
HOST_PORT=8080

# allow traffic from all hosts inside the Docker container
CONTAINER_HOST=0.0.0.0
# port 8080 inside the Docker container, mapped to host port in docker-compose.yml
CONTAINER_PORT=8080

MAX_NOTIFY_PLAYLISTS_PER_USER=3
REFRESH_INTERVAL_SECONDS=1800
COMMAND_COOLDOWN_SECONDS=5