<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notify</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <style>
    body {
      background-color: lightgreen;
      height: 100vh;
      width: 100%;
      display: grid;
      place-items: center;
    }
  </style>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-4">Authorization successful!</h1>
        <p class="lead">You can now return to Telegram.</p>
        <a href="https://t.me/playlistNotificationBot" class="btn btn-primary"
          >Go to Notify</a
        >
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
